.main-container {
  width: 100%;
}

.main-inner-container {
  width: 100%;
  /* min-width: 743px; */
  min-width: 1000px;
  max-width: 1440px;
  background-color: #fafafa;
  margin: 0 auto;
}

/* 메인 배너 */
.main-banner-wrap {
  position: relative;
  width: 100%;
}
.banner-list {
  display: flex;
  align-items: center;
  width: 100%;
}
.banner-list .banner-item {
  position: relative;
  width: 480px;
  height: 480px;
  overflow: hidden;
}
.banner-list .banner-item img {
  width: 480px;
  height: 480px;
}
/* 배너 텍스트 영역 */
.banner-list .banner-item .banner-txt {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.banner-list .banner-item .banner-txt .banner-tit {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
}
.banner-list .banner-item .banner-txt .banner-cont {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: 12px;
}
/* 배너 arrow */
.banner-prev {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 39px;
  height: 39px;
  background: url(../image/banner-prev.png) no-repeat center/100%;
}
.banner-next {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 39px;
  height: 39px;
  background: url(../image/banner-next.png) no-repeat center/100%;
}

/* 카테고리 영역 */
.category-wrap {
  padding: 16px 16px 16px 24px;
}
.category-wrap .category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.category-wrap .category-list .category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: fit-content;
  background-color: #fff;
  padding: 6px 12px 6px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}
.category-list .category-item .cate-icon {
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.category-list .category-item .cate-icon img {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
