.main-container {
  width: 100%;
}

.main-inner-container {
  width: 100%;
  /* min-width: 743px; */
  min-width: 1000px;
  max-width: 1440px;
  margin: 0 auto;
}

.main-banner-wrap {
  height: 100vh;
  background: #f00;
}
